#jm-djmenu .dj-megamenu{margin:-14px 0 -20px;z-index:10;}
.dj-megamenu{position:relative;display:inline-block;width:100%;vertical-align:top;}
.dj-megamenu li.dj-up{background-image:none;position:relative;display:block;float:left;padding:0;margin:0px 10px 0px 0px;z-index:1;padding-left:0px;}
.dj-megamenu li.dj-up a.dj-up_a{font-size:18px;font-weight:300;display:block;text-decoration:none;padding:10px 15px 10px 15px;line-height:20px;cursor:pointer;color:#000000;}
.dj-megamenu li.dj-up a.dj-up_a span{display:block;}
.dj-megamenu li.dj-up a.dj-up_a small.subtitle{display:block;font-size:10px;text-transform:none;line-height:1.2;opacity:0.8;filter:alpha(opacity=80);}
}
.dj-megamenu li.dj-up:hover a.dj-up_a,
.dj-megamenu li.dj-up.hover a.dj-up_a{color:#000000;}
.dj-megamenu li.dj-up a.dj-up_a.withsubtitle{padding-top:3px;}
.dj-megamenu li.separator > a{cursor:default;}
.dj-megamenu-sticky{margin:0 !important;border-top:1px solid #ffffff;background-color:#efebed;background-image:-moz-linear-gradient(top, #f8f6f7, #e2dade);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#f8f6f7), to(#e2dade));background-image:-webkit-linear-gradient(top, #f8f6f7, #e2dade);background-image:-o-linear-gradient(top, #f8f6f7, #e2dade);background-image:linear-gradient(to bottom, #f8f6f7, #e2dade);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff8f6f7', endColorstr='#ffe2dade', GradientType=0);line-height:1;}
.dj-megamenu-sticky ul.dj-megamenu{margin:0 !important;}
#jm-allpage .dj-select{vertical-align:top;max-width:none;margin:10px 0;font-family:inherit;font-size:14px;font-weight:300;padding:8px;vertical-align:middle;border:1px solid #f8f6f7;color:#acabab;background:#ffffff;height:38px;line-height:38px;}
#jm-allpage #jm-djmenu .dj-select{margin:-11px 0 -10px;}
.dj-megamenu li.dj-up:hover,
.dj-megamenu li.dj-up.hover,
.dj-megamenu .dj-submenu > li:hover,
.dj-megamenu .dj-subtree > li:hover{position:relative;z-index:200;background:#24b24b;color:#000000;}
.dj-megamenu li div.dj-subwrap{position:absolute;left:auto;right:auto;top:-9999px;visibility:hidden;}
.dj-megamenu li:hover div.dj-subwrap,
.dj-megamenu li.hover div.dj-subwrap{left:-15px;right:auto;top:100%;visibility:visible;z-index:300;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;display:none;}
.dj-megamenu li:hover div.dj-subwrap div.dj-subwrap-in,
.dj-megamenu li.hover div.dj-subwrap div.dj-subwrap-in{background:#000000;}
.dj-megamenu li:hover div.dj-subwrap div.dj-subwrap,
.dj-megamenu li.hover div.dj-subwrap div.dj-subwrap{left:100%;right:auto;top:0;z-index:400;border-left:8px solid transparent;border-right:8px solid transparent;}
.dj-megamenu .dj-subcol{display:inline-block;vertical-align:top;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.dj-megamenu .dj-submenu > li,
.dj-megamenu .dj-subtree > li{display:block;position:relative;padding:0 15px;background:none;}
.dj-megamenu .dj-submenu > li > a,
.dj-megamenu .dj-subtree > li > a{color:#000000;display:block;line-height:20px;text-decoration:none;padding:10px 0;border-bottom:1px solid #ffffff;}
.dj-megamenu .dj-submenu > li > a small.subtitle,
.dj-megamenu .dj-subtree > li > a small.subtitle{display:block;font-size:11px;}
.dj-megamenu .dj-submenu > li:first-chil > a,
.dj-megamenu .dj-subtree > li:first-chil > a{border:none;}
.dj-megamenu .dj-submenu > li:hover > a,
.dj-megamenu .dj-subtree > li:hover > a,
.dj-megamenu .dj-submenu > li.hover > a,
.dj-megamenu .dj-subtree > li.hover > a,
.dj-megamenu .dj-submenu > li.active > a,
.dj-megamenu .dj-subtree > li.active > a{color:#000000;}
.dj-megamenu .dj-submenu > li.parent > a,
.dj-megamenu .dj-subtree > li.parent > a{position:relative;}
.dj-megamenu .dj-submenu > li.parent > a:after,
.dj-megamenu .dj-subtree > li.parent > a:after{content:'+';position:absolute;font-family:Arial, Helvetica, sans-serif;line-height:20px;right:5px;left:auto;}
.dj-megamenu span.image-title{margin:0 0 0 15px;display:inline-block;vertical-align:middle;}
.dj-megamenu li > a > img{vertical-align:middle;}
.dj-megamenu .dj-subtree{list-style:none outside;padding:0 !important;margin:0 !important;}
.dj-megamenu .dj-subtree > li{list-style:none outside;padding:0 0 0 15px;margin:0;}
.dj-megamenu .dj-subtree > li > a{display:block;line-height:16px;text-decoration:none;padding:5px 15px;background-position:left 50%;background-repeat:no-repeat;background-image:url('../images/scheme1/li.png');border:none;}
.dj-megamenu .dj-subtree > li > a:after{display:none;}
.dj-megamenu .dj-subtree > li > a small.subtitle{display:block;font-size:0.9em;line-height:1;}
.dj-megamenu .modules-wrap{padding:15px 0;color:#000000;}
.dj-megamenu .modules-wrap p{display:block;padding:0;}
.dj-megamenu .modules-wrap .moduletable{clear:both;padding:30px 0 0;margin:30px 0 0;position:relative;}
.dj-megamenu .modules-wrap .moduletable > h3{color:#000000;font-weight:300;font-size:16px;line-height:1.1;position:relative;margin:0 0 20px;padding:0 0 20px;border-bottom:1px solid #ffffff;}
.dj-megamenu .modules-wrap .moduletable > h3:after{content:'';position:absolute;width:100%;border-bottom:1px solid #ffffff;left:0;right:auto;bottom:1px;}
.dj-megamenu .modules-wrap .moduletable:first-child{padding:0;margin:0;}
.dj-megamenu .modules-wrap .moduletable:first-child:after{display:none;}
.dj-megamenu .modules-wrap .moduletable:after{content:'';position:absolute;top:0;left:10%;width:80%;height:0;border-bottom:1px solid #ffffff;}